<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>

    $(function () {
        intiNewsCate();
    })
    function intiNewsCate() {
        $.ajax({
            url:'/story/queryType',
            async:false,
            success:function(result){
                var html = "<option value='-1'>请选择</option>";
                $.each(result,function(index,row){
                        html +=  "<option value="+row.id+">"+row.name+"</option>";
                });
                $('#typeId').html(html);
            },
            error:function(){

            }
        })
    }

</script>
<body>
<form id="StoryForm" class="text-right">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="name">故事名称:</label>
            </div>
        </div>
        <div class="col-md-4">
            <input type="hidden" name="newsId" id="newsId">
            <input type="text" class="form-control" name="name" id="name" placeholder="请输入故事名称...">
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="jieShao">故事介绍:</label>
            </div>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="jieShao" id="jieShao" placeholder="请输入故事介绍...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="typeId">故事类型:</label>
            </div>
        </div>
        <div class="col-md-4">
            <select class="form-control" id="typeId" name="typeId"  placeholder="请选择故事类型..."></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>故事图片:</label>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</form>
</body>
</html>