<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
z<script>

    $(function () {
        intiNewsCate();
        initFile("");
    })
    function intiNewsCate() {
        $.ajax({
            url:'/story/queryType',
            async:false,
            success:function(result){
                var html = "<option value='-1'>请选择</option>";
                $.each(result,function(index,row){
                        html +=  "<option value="+row.id+">"+row.name+"</option>";
                });
                $('#typeId').html(html);
            },
            error:function(){

            }
        })
    }

    function initFile(data) {
        $('#storyImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/story/upload', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            initialPreview:data,
            //初始化图片配置：
            initialPreviewConfig: [
                {key: 1, showDelete: false}
            ],
            //是否初始化图片显示
            initialPreviewAsData: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        }).on('fileuploaded', function(event, data, previewId, index) {
            var imgval = $('#headImg').val();
            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response;
            }/*else{
				imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
			}*/
            $('#headImg').val(imgval);
        });
    }
</script>
<body>
<form id="StoryForm" class="text-right">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="name">故事名称:</label>
            </div>
        </div>
        <div class="col-md-4">
            <input type="hidden" name="id" id="storyId">
            <input type="hidden" id="headImg" name="img"/>
            <input type="text" class="form-control" name="name" id="name" placeholder="请输入故事名称...">
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="jieShao">故事介绍:</label>
            </div>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="jieshao" id="jieshao" placeholder="请输入故事介绍...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="typeId">故事类型:</label>
            </div>
        </div>
        <div class="col-md-4">
            <select class="form-control" id="typeId" name="typeId"  placeholder="请选择故事类型..."></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="storyImg">故事图片:</label>
            </div>
        </div>
        <div class="col-md-10">
            <input type="file" class="projectfile" multiple accept="image/*" name="img" id="storyImg">
        </div>
    </div>
</form>
</body>
</html>