/*美屋推荐*/
.beautiful-house li{
    margin-top: 15px;
    overflow: hidden;
} 
.beautiful-house li .house-img{
	display: block;
	width: 300px;
	height: 200px;
	overflow: hidden;
}
.beautiful-house li .house-info{
	border: 1px solid #e7e7e7;
	color: #666;
	padding: 10px;
	position: relative;
	border-top: none;
}
.beautiful-house li .house-info h5{
	font-size: 14px;
	line-height: 1em;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.beautiful-house li .house-info h5 a{
	color: #666;
}
.beautiful-house li .house-info .tag-keywords{
    color: #999;
    font-size: 12px;
    line-height: 1em;
	margin-right: 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.beautiful-house li .house-info .price{
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #333;
	font-size: 14px;
	line-height: 1em;
}
.beautiful-house li .house-info .price b{
	font-size: 16px;
	color: #f60;
}
.beautiful-house li .house-info .price b i{
	font-size: 12px;
	font-style: normal;
}