<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入tree的js、css -->
    <link rel="stylesheet" href="/js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script type="text/javascript" src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入选项卡的js、css -->
    <link rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入删除提示框 -->
    <script type="text/javascript" src="/js/bootbox/bootbox.min.js"></script>
    <!-- 引入时间的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script  src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script  src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
<!--<table id="myTable"></table>-->
<div id="toolbar">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="search('')"  value="">全部</button>
        <button type="button" class="btn btn-default" onclick="search(1)"  value="1">悠悠古城 赏袅袅青烟</button>
        <button type="button" class="btn btn-default" onclick='search(2)' value="2">亲密无间 看童趣世界</button>
        <button type="button" class="btn btn-default" onclick='search(3)'  value="3">初夏暖阳  品舌尖美味</button>
        <button type="button" class="btn btn-default" onclick='search(4)'    value="4">微微浪风  抚优美梦境</button>

        <!--<button type="button" class="btn btn-default" onclick="search(1)"  value="1">北京</button>
        <button type="button" class="btn btn-default" onclick='search(4)' value="4">重庆</button>
        <button type="button" class="btn btn-default" onclick='search(99)'  value="99">杭州</button>
        <button type="button" class="btn btn-default" onclick='search(90)'    value="90">苏州</button>
        <button type="button" class="btn btn-default" onclick='search(308)'    value="308">大理</button>
-->
    </div><br><br>
</div>
<input type="hidden"  id="ci">
<table class="table" id="myTable"></table>
</body>
<script>
    $(function(){
        initNewsTable();
    })
    function search(titleid){
        $("#ci").val(titleid);
        $("#myTable").bootstrapTable('refresh');//刷新表格
    }
    //列表展示
    function initNewsTable(){
        $("#myTable").bootstrapTable({
            fit:true,
            toolbar:'#toolbar',
            url:'/findHousePage',
            pagination:true, //是否展示分页
            pageList:[1,3,5,7,9,10,20,30],//分页组件
            pageNumber:1,
            pageSize:3,//默认每页条数*/
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            showRefresh:true,//是否显示刷新按钮
            queryParams:function(){
                var titleid=$("#ci").val();
                return {
                    page: this.pageNumber,
                     rows: this.pageSize,
                    titleid:titleid
                };
            },
            columns:[
                {field:'name',title:'小标题'},
                {field:'price',title:'原价'},
                {field:'cityName',title:'市'},
                {field:'huxingName',title:'户型'},
                {field:'discount',title:'优惠价'},
                {field:'discountsign',title:'折扣'},
                {field:'titleName',title:'大标题'},
                {field:'image',title:'图片',formatter:function(index,row){
                        var str ='<img src="'+row.image+'">'
                        return str;
                    }}
            ]
        })
    }
</script>
</html>