<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css">

    <script src="/js/easyui1.5/jquery.min.js"></script>
    <script src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div class="easyui-dialog" data-options="title:'登录',
  buttons:[{
    text:'注册',
    inconCls:'icon-man',
    handler:function(){
       reg();
      }
    }]" style="width: 400px;height: 300px">

    <center>
        <form id="regForm" method="post">
            <table style="margin-top: 10%">
                <tr>
                    <td>账号</td>
                    <td><input type="text" class="easyui-textbox" name="phonenumber"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="text" class="easyui-passwordbox" name="password"></td>
                </tr>
                <tr>
                    <td>确认密码</td>
                    <td><input type="text" class="easyui-passwordbox" name="password2"></td>
                </tr>
            </table>
        </form>
    </center>
</div>
</body>
<script type="text/javascript">
    function reg(){
        $("#regForm").form('submit',{
            url:'/reg',
            onSubmit:function(){
                var password=$('input[name="password"]').val();
                var password2=$('input[name="password2"]').val();
                var phonenumber=$('input[name="phonenumber"]').val();
                if(phonenumber==null||phonenumber==""){
                    $.messager.alert('提示','账号不能为空','error')
                    return false;
                }
                if(password==null||password==""){
                    $.messager.alert('提示','密码不能为空','error')
                    return false;
                }
                if(password!=password2){
                    $.messager.alert('提示','两次密码不一致,请重新输入','error')
                    return false;
                }
            },

            success:function(data){
                data=JSON.parse(data);
                if(!data){
                    $.messager.alert('提示','注册失败','error')
                }else{
                    $.messager.alert('提示','注册成功','info',function(){
                        window.location.href="/page/toLogin"
                    });
                }
            }

        })
    }


</script>
</html>